<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EmojiChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WCUserInfoDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA73666F1BC7488C00E1479A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA7366831BC7488C00E1479A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA73668E1BC7488C00E1479A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA7366A21BC748A100E1479A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
